#*
*$
*.BAK
*.bak
*.class
*.elc
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.pyc
*.pyo
*.rej
*.Z
*~
,*
.#*
.del-*
.DS_Store
.externalToolBuilders
.idea
.make.state
.nse_depinfo
.project
.pydevproject
.sass-cache
.settings
/reports/
_$*
celerybeat.pid
celeryev.pid
CVS.adm
files
media
RCS
RCSLOG
SCCS
static/admintools_bootstrap/bootstrap
static/tool/assets
settings/private/secret.py
settings/private/keys.py
isolated/bin
isolated/database/backup
isolated/database/classifier
isolated/database/geoip
isolated/database/search
isolated/var
isolated/override/static
isolated/static
