{% extends "messaging/mail/layout/base.html" %}
{% load text_tags %}

{% block title %}
    Vous avez reçu {{ message|length|pluralize:"un message, des messages" }} de {% humanize_join sender 2 "membre;membres" %}
{% endblock %}

{% block text %}
    Bonjour {{ event.recipient }},
    {% humanize_join sender 2 "membre;membres" %} {{ sender|length|pluralize:"vous a envoyé,vous ont envoyé" }}
    {{ message|length|pluralize:"un message privé,des messages privés" }}.
    Vous pouvez consulter tous vos messages privés en vous connectant avec votre compte utilisateur, et en vous rendant à l'adresse internet suivante :
    {{ DOMAIN_NAME }}{% url "messaging:inbox" %}
{% endblock %}

{% block html_content %}
    <p>Bonjour {{ event.recipient }},</p>
    {% humanize_join sender 2 "membre;membres" as_links=True %} {{ sender|length|pluralize:"vous a envoyé,vous ont envoyé" }}
    {{ message|length|pluralize:"un message privé,des messages privés" }}.
    Vous pouvez consulter tous vos messages privés en vous connectant avec votre compte utilisateur, et en vous rendant à l'adresse internet suivante :
    {{ DOMAIN_NAME }}{% url "messaging:inbox" %}
{% endblock %}
